<div class="container py-4 mb-2 mb-sm-0 pb-sm-5 row mx-xl-auto">
  <h3>Fliper <%= params[:fliper_address] %></h3>
  <div class="row mt-5">
    <div class="col-4 mb-5">
      <div class="card" style="height: 130px">
        <div class="card-body top-middle">
          <h2><%= "#{t("views.labels.rank")}: #{@rank}" %></h2>
        </div>
      </div>
    </div>
    <div class="col-4 mb-5">
      <div class="card" style="height: 130px">
        <div class="card-body">
          <p class="card-text"><%= "#{t("views.labels.total_count")}: " %> <span class="float-end"><%= @fliper_data.size %></span></p>
          <p class="card-text"><%= "#{t("views.labels.successful_count")}: " %> <span class="float-end"><%= @fliper_data.successful.size %></span></p>
          <p class="card-text"><%= "#{t("views.labels.failed_count")}: "%> <span class="float-end"><%= @fliper_data.failed.size %></span></p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-5">
      <div class="card" style="height: 130px">
        <div class="card-body">
          <p class="card-text"><%= "#{t("views.labels.revenue")}: "%> <span class="float-end text-<%= change_text_color(@fliper_data.sum(&:crypto_revenue).to_f) %>"><%= "#{decimal_format @fliper_data.sum(&:crypto_revenue)} #{@fliper_data.first.sold_coin}" %></p>
          <p class="card-text"><%= "#{t("views.labels.profit")}: " %> <span class="float-end text-<%= change_text_color(@fliper_data.successful.sum(&:crypto_revenue).to_f) %>"><%= "#{decimal_format @fliper_data.successful.sum(&:crypto_revenue)} #{@fliper_data.first.sold_coin}" %></p>
          <p class="card-text"><%= "#{t("views.labels.loss")}: " %> <span class="float-end text-<%= change_text_color(@fliper_data.failed.sum(&:crypto_revenue).to_f) %>"><%= "#{decimal_format @fliper_data.failed.sum(&:crypto_revenue)} #{@fliper_data.first.sold_coin}" %></p>
        </div>
      </div>
    </div>
  </div>
  <div>
  <table class="table">
    <thead>
      <tr>
        <th>NFT</th>
        <th><%= t("views.labels.revenue") %></th>
      </tr>
    </thead>
    <% @top_nfts.each do |nft| %>
      <tr>
        <td><%= link_to nft[0], collection_detail_nft_flip_records_path(slug: nft[0]) %></td>
        <td class="text-<%= change_text_color(nft[2].to_f) %>"><%= "#{decimal_format nft[2]} #{nft[3]}" %></td>
      </tr>
    <% end %>
  </table>
  <div class="chart">
    <%= render "flip_data_chart" %>
    <%= render "flip_count_chart" %>
  </div>
</div>