<%= form_for @nft do |f| %>
  <div class="mb-3 pb-1 col-12">
    <%= f.label :name, class: "form-label px-0" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3 pb-1 col-12">
    <%= f.label :slug, class: "form-label px-0" %>
    <%= f.text_field :slug, class: "form-control" %>
  </div>
  <div class="mb-3 pb-1 col-12">
    <%= f.label :opensea_slug, class: "form-label px-0" %>
    <%= f.text_field :opensea_slug, class: "form-control", required: true %>
  </div>
  <div class="mb-3 pb-1 col-12">
    <%= f.label :opensea_url, class: "form-label px-0" %>
    <%= f.text_field :opensea_url, class: "form-control", required: true %>
  </div>
  <div class="mb-3 pb-1 col-12">
    <%= f.label :total_supply, class: "form-label px-0" %>
    <%= f.number_field :total_supply, class: "form-control", required: true %>
  </div>
  <div class="mb-3 pb-1 col-12">
    <%= f.label :logo, class: "form-label px-0" %>
    <%= f.text_field :logo, class: "form-control" %>
  </div>
  <div class="mb-3 pb-1 col-12">
    <%= f.label :address, class: "form-label px-0" %>
    <%= f.text_field :address, class: "form-control", required: true %>
  </div>
  <div class="mb-3 pb-1">
    <%= f.submit "Submit", disable_with: "Submitting...", class: 'btn btn-primary mt-3 mt-sm-0' %>
    <%= link_to "Cancel", root_path, class: 'btn btn-default' %>
  </div>
<% end %>