<div class="sidebar-enabled sidebar-end">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 content py-5 mb-2 mb-sm-0 pb-sm-5" style="height:88vh">
        <div class="text-center">
          <%= image_tag logo_path(@nft.slug, @nft.logo), class: "big-logo rounded-circle" %>
        </div>
        <h3 class="text-center">
          <%= link_to @nft.name, nft_path(@nft.slug) %>
        </h3>
        <h6 class="text-center">
          Owner Count: <%= @data[:total_count].to_i %> | Blue Chip Owners: <%= @data[:bch_count].to_i %>
        </h6>
        <h4 class="text-center mt-5">Blue Chip Holder List</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Holders</th>
              <th scope="col">Tokens</th>
              <th scope="col">Ratio</th>
            </tr>
          </thead>
          <tbody>
            <% @result.each_with_index do |d, idx| %>
              <% r = d[1] %>
              <tr>
                <td><%= idx + 1 %></td>
                <td>
                  <%= image_tag logo_path(d[0], r[:logo]), class: "small-logo rounded-circle" %>
                  <%= link_to d[0], nft_path(d[0]) %>
                </td>
                <td><%= r[:owners_count] %></td>
                <td><%= r[:tokens_count] %></td>
                <td><%= "#{r[:owners_ratio]}%" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>