<div class="container py-4 mb-2 mb-sm-0 pb-sm-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">
          <%= link_to "Name", nfts_path(sort_by: "Name", sort: @sort) %>
        </th>
        <th scope="col">Rank 24H</th>
        <th scope="col">Rank 3D</th>
        <th scope="col">Floor Price</th>
        <th scope="col" data-bs-toggle="tooltip" title="Blue chip holder percentage: number of holders that have atleast one other blue chip project/ Number of total holders">
          <%= link_to "BCHP", nfts_path(sort_by: "bchp", sort: @sort) %>
        </th>
        <th scope="col">
          <%= link_to "Holding Median", nfts_path(sort_by: "median", sort: @sort) %>
        </th>
        <th scope="col">
          <%= link_to "24h", nfts_path(sort_by: "variation", sort: @sort) %>
        </th>
        <th scope="col">
          <%= link_to "Volume", nfts_path(sort_by: "volume_24h", sort: @sort) %>
        </th>
        <th scope="col">
          <%= link_to "Sales", nfts_path(sort_by: "sales_24h", sort: @sort) %>
        </th>
        <th scope="col">
          <%= link_to "Listed / Supply Ratio", nfts_path(sort_by: "listed_ratio", sort: @sort) %>
        </th>
        <th scope="col">
          <%= link_to "Floor Cap", nfts_path(sort_by: "floor_cap", sort: @sort) %>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <% @nfts.each do |nft| %>
        <% next if nft.user_id %>
        <tr>
          <td style="width: 3%"><%= nft.eth_volume_rank %></td>
          <td>
            <%= link_to nft_path(nft.slug), class: "nft-name" do %>
              <%= image_tag logo_path(nft.slug, nft.logo), class: "rounded-circle small-logo" %>
              <span class="text-dark"><%= nft.name.humanize %></span>
            <% end %>
          </td>
          <td class="text-<%= change_text_color(nft.volume_rank_24h.to_f) %>" data-bs-toggle="tooltip" title='<%= "#{nft.eth_volume_rank_24h} -> #{nft.eth_volume_rank}" %>'><%= nft.volume_rank_24h %></td>
          <td class="text-<%= change_text_color(nft.volume_rank_3d.to_f) %>" data-bs-toggle="tooltip" title='<%= "#{nft.eth_volume_rank_3d} -> #{nft.eth_volume_rank}" %>'><%= nft.volume_rank_3d %></td>
          <td style="width: 10%">
            <%= "#{decimal_format(nft.eth_floor_price_24h)} ETH" %>
            <%= link_to nft.opensea_url, target: "_blank" do %>
              <i class="ai-compass fs-lg me-2"></i>
            <% end if nft.opensea_url %>
          </td>
          <td style="width: 6%"><%= "#{decimal_format(nft.bchp)} %" %></td>
          <td><%= "#{decimal_format(nft.median)} Days" %></td>
          <td style="width: 3%" class="text-<%= change_text_color(nft.variation.to_f) %>"><%= "#{nft.variation.to_f}%" %></td>
          <td style="width: 8%"><%= "#{decimal_format(nft.eth_volume_24h)} ETH" %></td>
          <td style="width: 3%"><%= nft.sales_24h %></td>
          <td><%= listed_and_supply_radio(nft.total_supply, nft.listed_ratio) %></td>
          <td><%= "#{nft.eth_floor_cap} ETH" %></td>
          <% if current_user && nft.user_id == current_user.id %>
            <td style="width: 6%">
              <%= link_to "Edit", edit_nft_path(nft.nft_id), class: "btn btn-link"  %>
              <%= link_to "Sync data", sync_data_nft_path(nft.nft_id), class: "btn btn-link synBtn" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="p-4">
    <%= paginate @nfts %>
  </div>
</div>