<div class="container py-4 mb-2 mb-sm-0 pb-sm-5 row">
  <div class="col-6 mb-5">
    <div class="card" style="height: 160px">
      <div class="card-body row">
        <div class="logo col-4">
          <%= image_tag logo_path(@nft.slug), width: "100px", class: "rounded-circle" %>
        </div>
        <div class="text-end col-7">
          <h3><%= @nft.name %></h3>
          <%= get_chain_name(@nft.chain_id) %>
          <br />
          <h5 class="text-info">Floor Cap: <%= number_to_currency @nft.floor_cap %></h5>
          24H: 
          <span class="text-<%= change_text_color(@nft.variation.to_f) %>"><%= "#{@nft.variation.to_f}%" %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 mb-5">
    <div class="card" style="height: 160px">
      <div class="card-body">
        <div>
          <h3 class="border-bottom pb-2">Floor Price <span class="float-end"><%= number_to_currency @nft.floor_price_24h %></span></h3>
          <h5 class="border-bottom pb-2">Volume(24h) <span class="float-end"><%= number_to_currency @nft.volume_24h %></span></h5>
          <h5>Sales(24h) <span class="float-end"><%= @nft.sales_24h %></span></h5>
        </div>
      </div>
    </div>
  </div>
  <div id="chart">
    <h2 class="mt-3">Floor Price Chart</h2>
    <div class="text-right mt-5">
      <%= form_tag nft_path, id: "period_targets", method: "GET" do %>
        <div class="col-12">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <%= radio_button_tag :period, "week", params[:period] == "week", class: "btn-check", id: "btnradio1" %>
            <label class="btn btn-outline-primary week" for="btnradio1">周</label>
            <%= radio_button_tag :period, "month", params[:period] == "month", class: "btn-check", id: "btnradio2" %>
            <label class="btn btn-outline-primary month" for="btnradio2">月</label>
            <%= radio_button_tag :period, "year", params[:period] == "year", class: "btn-check", id: "btnradio3" %>
            <label class="btn btn-outline-primary year" for="btnradio3">年</label>
          </div>
        </div>
      <% end %>
    </div>

    <%= render "line_chart" %>
  </div>
</div>