<div class="container py-4 mb-2 mb-sm-0 pb-sm-5 row mx-xl-auto">
  <div class="col-7 mb-5">
    <div class="mb-5">
      <div class="card" style="height: 160px">
        <div class="card-body row">
          <div class="logo col-4">
            <%= image_tag logo_path(@nft.slug, @nft.logo), class: "big-logo rounded-circle" %>
          </div>
          <div class="text-end col-8">
            <h4><%= @nft.name.humanize %></h4>
            <h5><%= get_chain_name(@nft.chain_id) %></h5>
            <h5 class="text-info">Floor Cap: <%= "#{decimal_format(@nft.eth_floor_cap)} ETH" %></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <div class="card" style="height: 160px">
        <div class="card-body">
          <div>
            <h5 class="border-bottom pb-2">Floor Price(24h) <span class="float-end"><%= "#{decimal_format(@nft.eth_floor_price_24h)} ETH" %>(<span class="text-<%= change_text_color(@nft.variation.to_f) %>"><%= "#{decimal_format(@nft.variation)}%" %></span>)</span></h5>
            <h5 class="border-bottom pb-2">Volume(24h) <span class="float-end"><%= "#{@nft.eth_volume_24h.to_f.round(4)} ETH" %></span></h5>
            <h5>Sales(24h) <span class="float-end"><%= @nft.sales_24h %></span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="mb-5">
      <div class="card" style="height: 160px">
        <div class="card-body">
          <div>
            <h5 class="border-bottom pb-2">Total Owners <span class="float-end"><%= link_to "#{@nft.total_owners.size} (#{decimal_format(@nft.bchp)}%)", bch_list_nft_path(@nft) %></span></h5>
            <h5 class="border-bottom pb-2">Total Purchase 24H <span class="float-end"><%= get_sales_info(@purchase_24h) %></span></h5>
            <% result = fetch_purchase_history_data(@purchase_7d) %>
            <h5>Total Purchase 7D <span class="float-end"><%= get_sales_info(result) %></span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div id="chart">
      <h2 class="mt-3">Floor Price Chart</h2>
      <div class="text-right mt-5">
        <%= form_tag nft_path, class: "period_targets", method: "GET" do %>
          <div class="col-12">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <%= radio_button_tag :price_period, "week", params[:price_period] == "week", class: "btn-check", id: "btnradio1price" %>
              <label class="btn btn-outline-primary week" for="btnradio1price">Week</label>
              <%= radio_button_tag :price_period, "month", params[:price_period] == "month", class: "btn-check", id: "btnradio2price" %>
              <label class="btn btn-outline-primary month" for="btnradio2price">Month</label>
              <%= radio_button_tag :price_period, "year", params[:price_period] == "year", class: "btn-check", id: "btnradio3price" %>
              <label class="btn btn-outline-primary year" for="btnradio3price">Year</label>
            </div>
          </div>
        <% end %>
      </div>

      <%= render "price_chart" %>
    </div>
     <div id="chart">
      <h2 class="mt-3">Holding Chart</h2>
      <div class="text-right mt-5">
        <%= form_tag nft_path, class: "period_targets", method: "GET" do %>
          <div class="col-12">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <%= radio_button_tag :holding_period, "week", params[:holding_period] == "week", class: "btn-check", id: "btnradio1holding" %>
              <label class="btn btn-outline-primary week" for="btnradio1holding">Week</label>
              <%= radio_button_tag :holding_period, "month", params[:holding_period] == "month", class: "btn-check", id: "btnradio2holding" %>
              <label class="btn btn-outline-primary month" for="btnradio2holding">Month</label>
              <%= radio_button_tag :holding_period, "year", params[:holding_period] == "year", class: "btn-check", id: "btnradio3holding" %>
              <label class="btn btn-outline-primary year" for="btnradio3holding">Year</label>
            </div>
          </div>
        <% end %>
      </div>

      <%= render "holding_chart" %>
    </div>
    <div id="chart">
      <h2 class="mt-3">Purchase Chart</h2>
      <div class="text-right mt-5">
        <%= form_tag nft_path, class: "period_targets", method: "GET" do %>
          <div class="col-12">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <%= radio_button_tag :purchase_period, "week", params[:purchase_period] == "week", class: "btn-check", id: "btnradio1purchase" %>
              <label class="btn btn-outline-primary week" for="btnradio1purchase">Week</label>
              <%= radio_button_tag :purchase_period, "month", params[:purchase_period] == "month", class: "btn-check", id: "btnradio2purchase" %>
              <label class="btn btn-outline-primary month" for="btnradio2purchase">Month</label>
              <%= radio_button_tag :purchase_period, "year", params[:purchase_period] == "year", class: "btn-check", id: "btnradio3purchase" %>
              <label class="btn btn-outline-primary year" for="btnradio3purchase">Year</label>
            </div>
          </div>
        <% end %>
      </div>

      <%= render "purchase_chart" %>
    </div>
    <div id="chart">
      <h2 class="mt-3">Trade Chart</h2>
      <div class="text-right mt-5">
        <%= form_tag nft_path, class: "period_targets", method: "GET" do %>
          <div class="col-12">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <%= radio_button_tag :trade_period, "week", params[:trade_period] == "week", class: "btn-check", id: "btnradio1trade" %>
              <label class="btn btn-outline-primary week" for="btnradio1trade">Week</label>
              <%= radio_button_tag :trade_period, "month", params[:trade_period] == "month", class: "btn-check", id: "btnradio2trade" %>
              <label class="btn btn-outline-primary month" for="btnradio2trade">Month</label>
              <%= radio_button_tag :trade_period, "year", params[:trade_period] == "year", class: "btn-check", id: "btnradio3trade" %>
              <label class="btn btn-outline-primary year" for="btnradio3trade">Year</label>
            </div>
          </div>
        <% end %>
      </div>

      <%= render "trade_chart" %>
    </div>
  </div>
</div>