<div class="container py-4 mb-2 mb-sm-0 pb-sm-5">
  <h2 class="text-center">Nft SnapShot - <%= @info.event_date.to_s %></h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 content py-5 mb-2 mb-sm-0 pb-sm-5" style="height:88vh">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Logo</th>
              <th scope="col">
                <%= link_to nfts_path(sort_by: "name", sort: @sort) do %>
                  Name
                  <%= sort_arrow("name") %>
                <% end %>
              </th>
              <th scope="col">
                <%= link_to nfts_path(sort_by: "eth_volume_rank_24h", sort: @sort) do %>
                  Rank 24H
                  <%= sort_arrow("eth_volume_rank_24h") %>
                <% end %>
              </th>
              <th scope="col">
                <%= link_to nfts_path(sort_by: "eth_volume_rank_3d", sort: @sort) do %>
                  Rank 3D
                  <%= sort_arrow("eth_volume_rank_3d") %>
                <% end %>
              </th>
              <th scope="col">
                <%= link_to nfts_path(sort_by: "eth_floor_price_24h", sort: @sort) do %>
                  Price 24H
                  <%= sort_arrow("eth_floor_price_24h") %>
                <% end %>
              </th>
              <th scope="col" data-bs-toggle="tooltip" title="Blue chip holder percentage: number of holders that have atleast one other blue chip project/ Number of total holders">
                <%= link_to nfts_path(sort_by: "bchp", sort: @sort) do %>
                  BCHP
                  <%= sort_arrow("bchp") %>
                <% end %>
              </th>
              <th scope="col">
                <%= link_to nfts_path(sort_by: "bchp_12h", sort: @sort) do %>
                  BCHP 12H
                  <%= sort_arrow("bchp_12h") %>
                <% end %>
              </th>
              <th scope="col">
                <%= link_to nfts_path(sort_by: "median", sort: @sort) do %>
                  Holding Median
                  <%= sort_arrow("median") %>
                <% end %>
              </th>
              <th scope="col">
                <%= link_to nfts_path(sort_by: "variation", sort: @sort) do %>
                  24h
                  <%= sort_arrow("variation") %>
                <% end %>
              </th>
              <th scope="col">
                <%= link_to nfts_path(sort_by: "eth_volume_24h", sort: @sort) do %>
                  Volume
                  <%= sort_arrow("eth_volume_24h") %>
                <% end %>
              </th>
              <th scope="col">
                <%= link_to nfts_path(sort_by: "sales_24h", sort: @sort) do %>
                  Sales
                  <%= sort_arrow("sales_24h") %>
                <% end %>
              </th>
              <th scope="col">
                <%= link_to nfts_path(sort_by: "listed_ratio", sort: @sort) do %>
                  Listed / Supply Ratio
                  <%= sort_arrow("listed_ratio") %>
                <% end %>
              </th>
              <th scope="col">
                <%= link_to nfts_path(sort_by: "eth_floor_cap", sort: @sort) do %>
                  Floor Cap
                  <%= sort_arrow("eth_floor_cap") %>
                <% end %>
              </th>
              <th scope="col">
                <%= link_to nfts_path(sort_by: "updated_at", sort: @sort) do %>
                  Updated At
                  <%= sort_arrow("updated_at") %>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @nfts.each do |nft| %>
              <tr>
                <td style="width: 3%"><%= nft.eth_volume_rank.to_i %></td>
                <td style="width: 3%"><%= image_tag logo_path(nft.slug, nft.logo), class: "rounded-circle small-logo" %></td>
                <td><%= link_to nft.name.humanize, nft_path(nft.slug), class: "nft-name text-dark" %></td>
                <td class="text-<%= change_text_color(nft.volume_rank_24h.to_i) %>" data-bs-toggle="tooltip" title='<%= "#{nft.eth_volume_rank_24h} -> #{nft.eth_volume_rank}" %>'><%= nft.volume_rank_24h %></td>
                <td class="text-<%= change_text_color(nft.volume_rank_3d.to_i) %>" data-bs-toggle="tooltip" title='<%= "#{nft.eth_volume_rank_3d} -> #{nft.eth_volume_rank}" %>'><%= nft.volume_rank_3d %></td>
                <td style="width: 10%">
                  <%= "#{decimal_format(nft.eth_floor_price_24h)} ETH" %>
                  <%= link_to nft.opensea_url, target: "_blank" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-compass align-middle me-2"><circle cx="12" cy="12" r="10"></circle><polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon></svg>
                  <% end if nft.opensea_url %>
                </td>
                <td><%= "#{decimal_format(nft.bchp)} %" %></td>
                <td class="text-<%= change_text_color(nft.bchp_12h_change.to_f) %>" data-bs-toggle="tooltip" title='<%= "#{decimal_format(nft.bchp_12h)}% -> #{decimal_format(nft.bchp)}%" %>'><%= "#{decimal_format(nft.bchp_12h_change)} %" %></td>
                <td><%= "#{decimal_format(nft.median)} Days" %></td>
                <td class="text-<%= change_text_color(nft.variation.to_f) %>"><%= "#{decimal_format(nft.variation)}%" %></td>
                <td><%= "#{decimal_format(nft.eth_volume_24h)} ETH" %></td>
                <td><%= nft.sales_24h %></td>
                <td><%= listed_and_supply_radio(nft) %></td>
                <td><%= "#{decimal_format(nft.eth_floor_cap)} ETH" %></td>
                <td><%= time_format(nft.updated_at) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="p-4">
          <%= paginate @nfts %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sidebar-->
<div class="settings js-settings">
  <div class="settings-toggle">
    <div class="settings-toggle-option settings-toggle-option-text js-settings-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders align-middle"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg>
      Filters
    </div>
  </div>
  <div class="settings-panel">
    <div class="settings-content">
      <!-- Search-->
      <div class="settings-title d-flex align-items-center">
        <button type="button" class="btn-close float-right js-settings-toggle" aria-label="Close"></button>
        <h4 class="mb-0 ms-2 d-inline-block">Filter</h4>
      </div>
      <div class="settings-body">
        <%= search_form_for @q, url: nfts_path, method: :get do |f| %>
          <div class="mb-3 pb-1 col-12">
            <%= f.label :eth_volume_24h, "24H Volume", class: "form-label d-block px-0" %>
            <%= f.number_field :eth_volume_24h_gteq, class: "form-control inline-form" %>
            To
            <%= f.number_field :eth_volume_24h_lteq, class: "form-control inline-form" %>
          </div>
          <div class="mb-3 pb-1 col-12">
            <%= f.label :eth_floor_price_24h, "Floor Price", class: "form-label d-block px-0" %>
            <%= f.number_field :eth_floor_price_24h_gteq, class: "form-control inline-form" %>
            To
            <%= f.number_field :eth_floor_price_24h_lteq, class: "form-control inline-form" %>
          </div>
          <div class="mb-3 pb-1 col-12">
            <%= f.label :sales_24h, "24H Sales", class: "form-label d-block px-0" %>
            <%= f.number_field :sales_24h_gteq, class: "form-control inline-form" %>
            To
            <%= f.number_field :sales_24h_lteq, class: "form-control inline-form" %>
          </div>
          <div class="mb-3 pb-1 col-12">
            <%= f.label :median, "Median Days", class: "form-label d-block px-0" %>
            <%= f.number_field :median_gteq, class: "form-control inline-form" %>
            To
            <%= f.number_field :median_lteq, class: "form-control inline-form" %>
          </div>
          <div class="mb-3 pb-1 col-12">
            <%= f.label :bchp, "BCHP", class: "form-label d-block px-0" %>
            <%= f.number_field :bchp_gteq, class: "form-control inline-form" %>
            To
            <%= f.number_field :bchp_lteq, class: "form-control inline-form" %>
          </div>
          <div class="mb-3 pb-1">
            <%= f.submit "Apply Filters", class: 'btn btn-primary mt-3 mt-sm-0' %>
            <%= link_to "Reset", nfts_path, class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>