<!DOCTYPE html>
<html>
  <head>
    <title>NftHunter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <main class="container">
        <header class="header navbar navbar-expand-lg navbar-light bg-light navbar-shadow navbar-sticky" data-scroll-header data-fixed-element>
          <div class="container px-0 px-xl-2">
            <button class="navbar-toggler ms-n2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand flex-shrink-0 order-lg-1 mx-auto ms-lg-0 pe-lg-2 me-lg-4" href="/">
              <%#= image_tag "logo.png", class: "d-none d-lg-block", width: "153" %>
              <h2>NFT Hunter</h2>
            </a>
            <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
              <div class="offcanvas-header navbar-shadow">
                <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <!-- Menu-->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <%= link_to "Home", root_path, class: "nav-link #{@page_index == 0 ? 'active' : ''}" %>
                  </li>
                  <li class="nav-item dropdown">
                    <%= link_to "Rank", '#', class: "nav-link dropdown-toggle #{@page_index.in?([1, 2]) ? 'active' : ''}", data: {"bs-toggle": "dropdown"} %>
                    <ul class="dropdown-menu">
                      <li class="dropdown">
                        <%= link_to "Purchase Top 10", purchase_rank_nfts_path, class: "dropdown-item #{@page_index == 1 ? 'active' : ''}" %>
                      </li>
                      <li class="dropdown">
                        <%= link_to "Holding Top 10", holding_rank_nfts_path, class: "dropdown-item #{@page_index == 2 ? 'active' : ''}" %>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <%= link_to "NFT", '#', class: "nav-link dropdown-toggle #{@page_index.in?([3]) ? 'active' : ''}", data: {"bs-toggle": "dropdown"} %>
                    <ul class="dropdown-menu">
                      <li class="dropdown">
                        <%= link_to "Add NFT", new_nft_path, class: "dropdown-item #{@page_index == 3 ? 'active' : ''}" %>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Holding Rank Snap Shot", holding_rank_snap_shots_path, class: "nav-link #{@page_index == 4 ? 'active' : ''}" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <%= render "layouts/notices" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
